<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>431</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/*.xml</param-value>
	</context-param>	
		
	<filter>
	   <filter-name>openSessionInViewFilter</filter-name>
	   <filter-class>
	    org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
	   </filter-class>
	   <init-param>
	    <param-name>sessionFactoryBeanName</param-name>
	    <param-value>sessionFactory</param-value>
	   </init-param>
	   <init-param>
	        <param-name>singleSession</param-name>
	        <param-value>true</param-value>           
	    </init-param>
	    <init-param>
	        <param-name>flushMode</param-name>
	   		<param-value>AUTO</param-value>        
	    </init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
			<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 著名 Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jspx</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>	
	
	<!--Xss 校验 -->
	<filter>
		<filter-name>XssChecker</filter-name>
		<filter-class>org.my431.platform.filter.XssFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XssChecker</filter-name>
		<url-pattern>/base/*</url-pattern>
	</filter-mapping>
	<!--base session 校验 -->
	<filter>
		<filter-name>BaseSessionChecker</filter-name>
		<filter-class>org.my431.platform.filter.BaseSessionCheckerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BaseSessionChecker</filter-name>
		<url-pattern>/base/*</url-pattern>
	</filter-mapping>
	
	
	<!--view object -->
	<filter>
		<filter-name>ViewSessionChecker</filter-name>
		<filter-class>org.my431.platform.filter.ViewSessionCheckerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ViewSessionChecker</filter-name>
		<url-pattern>/view/*</url-pattern>
	</filter-mapping>	
	
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
 
     <filter-mapping>  
         <filter-name>struts2</filter-name>  
         <url-pattern>*.jspx</url-pattern>  
     </filter-mapping>  
     
     <filter-mapping>
     	<filter-name>struts2</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
 	</filter-mapping>       
 	

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--Spring ApplicationContext 载入 -->
	<listener>
		<listener-class>org.my431.platform.utils.ContextUtils</listener-class>
	</listener>

	<!-- 设置session永不过期 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>


    <error-page>  
     <error-code>404</error-code>  
     <location>/error/404.jsp</location>  
    </error-page>
    
    <error-page>  
     <error-code>500</error-code>  
     <location>/error/500.jsp</location>  
    </error-page>
    
    <error-page> 
    <exception-type>java.lang.Exception</exception-type> 
    <location>/error/exception.jsp</location>
	</error-page>

    <!-- tag libs -->
	<jsp-config>
	<taglib>
		<taglib-uri>/core</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/fmt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/fn</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/fn.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/displaytag</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/displaytag-el.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/string</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/taglibs-string.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/my431</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/my431-tags.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/my431-fn</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/my431-fn.tld</taglib-location>
	</taglib>	
	</jsp-config>
</web-app>
